#Relleno path:hover{
    fill: black;
}

.menu_cart{
    position: absolute;
}

.cart_count{
    position: absolute;
    top: 15px;
    right: -7px;
    background-color: #d32854;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    font-size: 8px;
    color: #fff;
    letter-spacing: normal;
    font-family: Helvetica,Arial,Verdana,sans-serif;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.menu__imgs-cart{
    height: 2rem;
}