li {
    list-style: none;
}

.menu__contenedor a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 1.2rem;
}

.menu__contenedor a:hover{
    color: #f86489;
}

.NavActive{
    color: #d32854 !important;
}

.menu__contenedor{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90vw;
    align-items: center;
    margin: -2.7rem auto 0 auto;
}

.menu__links{
    display: flex;
    justify-content: space-around;
    text-align: center;
    width: 30%;
    margin-top: 3.5rem;
}

.logo{
    width: 10rem;
}

.deco{
    position: relative;
    z-index: -2;
    top: 0;
    height: 3rem;
    background-image: url("https://firebasestorage.googleapis.com/v0/b/silvipeppers-39d4f.appspot.com/o/deco.svg?alt=media&token=2ccaacca-10fa-470b-8162-db88ab928cf5");
    background-repeat: repeat-x;
}

.menu_derecha{
    width: 30%;
    display: flex;
    justify-content: space-between;
    margin-top: 2.5rem;
}

.menu_icons{
    display: flex;
    justify-content: space-around;
    width: 20%;
}

.NavIconActive path{
    fill: #d32854;
}

