.cartItem{
    display: flex;
    width: 48%;
    height: 10rem;
    margin: 1rem 0;
}

.cartItem img{
    height: 10rem;
}

.cartItem_info{
    border: 1px solid #d32854;
    margin-left: 1rem;
    width: 100%;
    padding-left: 1rem;   
}

.cartItem .agregarCarrito{
    display: none;
}

.cartItem_qty{
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.cartItem .contadorContenedor{
    width: auto;
    margin: auto 0;
}

.cartItem .botonesCantidad{
    margin-right: 0;
}

#cartItem_remove{
    height: 1rem;
    margin: auto 0;
}

#cartItem_remove:hover{
    cursor: pointer;
}

.cartItem_price{
    color: grey;
}

.cart_quantity{
    display: flex;
    justify-content: space-between;
    width: 5rem;
}

.cart_edit{
    border: none;
    background-color: #d32854;
    color: white;
    padding: 0.5rem 1rem;
    height: 60%; 
    margin-top: 15%;
    margin-left: 1rem;
}

.cart_save{
    border: none;
    background-color: #d32854;
    color: white;
    padding: 0.5rem 1rem;
}

.cart_quantity-size{
    transform: scale(0.9);
    margin-top: 0.5rem;
    margin-left: -2rem;
    margin-right: 3rem;
}