.categories ul{
    display: flex;
}

.categories a {
    text-decoration: none;
    color: white;
    background-color: black;
    padding: 5px 5px;
    margin-right: 10px;
    font-weight: normal;
    font-size:medium;
}

.categories a:hover{
    color: #d32854;
    background-color: white;
    border: 1px solid #d32854;

}

.categoryActive{
    background-color: #d32854 !important;
    color: white !important;
}