.itemDetail{
    text-align: center;
    width: 50%;
    margin: 50px 0 50px 30%;
    border: 3px solid #d32854;
}

.flex{
    justify-content: center;
}

.details{
    width: 45%;
    margin-left: 30px;
    margin-top: 20%;
    text-align: start;
}

.goBack{
    width: 60px;
    margin-left: 20px;
}