li {
    list-style: none;
}

.menu__contenedor a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 23px;
}

.menu__contenedor a:hover{
    color: #d32854;
}

.NavActive{
    color: #d32854 !important;
}

.menu__contenedor{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90vw;
  align-items:flex-end;
  margin-top: -5vh;
}

.menu__links{
    display: flex;
    justify-content: space-around;
    text-align: center;
    width: 30%;
}
.menu__imgs{
    height: 2rem;
}

.logo{
    width: 10rem;
}

.deco{
    position: relative;
    z-index: -2;
    top: 0;
}
