.form__input {
    border-radius: 3px;
    border: 2px solid #d32854;
    border-radius: 0.5rem;
    height: 2rem;
    margin-bottom: 1rem;
    padding-left: 1rem;
}

.error__input {
    border-color: red;
    color:red
}

.form_label{
    color: #d32854;
    margin: 1rem 0 0.5rem 0;
}