.contadorContenedor{
    display: flex;
    height: 2.5rem;
    margin-top: 1.5rem;
    background-color: white;
    justify-content: space-between;
    width: 15rem;
}

.botonesCantidad{
    border: 1px solid #caccc6;
    width: 7rem;
    display: flex;
    justify-content: space-around;
    margin-right: 1rem;
    align-items: center;
}

.botonesCantidad:hover{
    border-color: black;
}

.controladores{
    border: none;
    background-color: white;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    margin: auto 0;
}

.controladores:hover{
    background-color: #eaeaea;
    cursor: pointer;
}

.controladores:disabled{
    cursor: auto;
}

.controladores:hover:disabled{
    background-color: white;
}

.botonesCantidad:disabled:hover{
    border-color: #caccc6;
}

.agregarCarrito{
    border: none;
    background-color: black;
    color: white;
    padding: 0.5rem 1rem;
}

.agregarCarrito:hover{
    background-color: #6f6f70;
    cursor: pointer;
}

.agregarCarrito:disabled{
    background-color: #6f6f70;
    cursor:auto;
}

.counter:disabled{
    color: #caccc6;
}
